* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Poppins', sans-serif;
    
}

.cabecalho {
    background-color: orange;
    padding: 2rem 0 2rem 3rem;

}

.container {
    margin: 2rem 0 10rem 0;
    
}

.container .div-line {
    border-bottom: 1px grey solid;
    margin: .5rem 0 2.5rem 0;
    
}

.container .row {
    margin-bottom: 1rem;
    gap: .75rem;
    
}

.container .row b {
    padding: 0;
    
}


@media (max-width: 768px) {
  .container {
    padding: 0 1.5rem 0 1.5rem !important;
      
  }



