* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: orange;
    padding: 5%;
    margin-bottom: 1%;

}

.container {

    .row {
        
    }
}


